allow init app_data_file:dir { search getattr };
allow init app_data_file:file { read getattr open };
allow init fuse:dir write;
allow init kernel:security read_policy;
allow init property_socket:sock_file write;
allow init qmuxd_socket:sock_file write;
allow init self:capability { setpcap };
allow init self:capability2 block_suspend;
allow init self:netlink_kobject_uevent_socket read;
allow init self:netlink_route_socket { read bind create };
allow init self:netlink_socket { read bind create write };
allow init self:socket { read write create ioctl };
allow init sensors_device:chr_file ioctl;
allow init smd_device:chr_file { write ioctl };
allow init socket_device:sock_file { write create getattr setattr };
allow init tad_socket:sock_file write;
