/dev/genlock              0666   system     system
/dev/kgsl-3d0             0666   system     system
/dev/ion                  0664   system     system
/dev/rtc0                 0600   system     system
/dev/smd0                 0660   system     system
/dev/smd3                 0660   bluetooth  net_bt_stack
/dev/smd2                 0660   bluetooth  net_bt_stack
/dev/smd4                 0660   system     system
/dev/smd_cxm_qmi          0640   radio      radio
/dev/smd5                 0660   system     system
/dev/smd6                 0660   system     system
/dev/smd7                 0660   bluetooth  bluetooth
/dev/smd11                0660   radio      radio
/dev/radio0               0640   system     system
/dev/rfcomm0              0660   bluetooth  bluetooth
/dev/smdcntl0             0640   radio      radio
/dev/smdcntl1             0640   radio      radio
/dev/smdcntl2             0640   radio      radio
/dev/smdcntl3             0640   radio      radio
/dev/smdcntl4             0640   radio      radio
/dev/smdcntl5             0640   radio      radio
/dev/smdcntl6             0640   radio      radio
/dev/smdcntl7             0640   radio      radio
/dev/smdcnt_rev0          0640   radio      radio
/dev/smdcnt_rev1          0640   radio      radio
/dev/smdcnt_rev2          0640   radio      radio
/dev/smdcnt_rev3          0640   radio      radio
/dev/smdcnt_rev4          0640   radio      radio
/dev/smdcnt_rev5          0640   radio      radio
/dev/smdcnt_rev6          0640   radio      radio
/dev/smdcnt_rev7          0640   radio      radio
/dev/smdcnt_rev8          0640   radio      radio
/dev/smuxctl32            0640   radio      radio
/dev/rmnet_mux_ctrl       0640   radio      radio
/dev/video*               0660   system     camera
/dev/media*               0660   system     camera
/dev/v4l-subdev*          0660   system     camera
/dev/qseecom              0660   system     drmrpc
/dev/jpeg0                0660   system     camera
/dev/jpeg1                0660   system     camera
/dev/jpeg2                0660   system     camera
/dev/msm_rotator          0660   system     system
/dev/hw_random            0660   system     system
/dev/adsprpc-smd          0664   system     system
/dev/msm_a2dp_in          0660   system     audio
/dev/msm_aac              0660   system     audio
/dev/msm_aac_in           0660   system     audio
/dev/msm_ac3              0660   system     audio
/dev/msm_acdb             0660   system     audio
/dev/msm_amrnb            0660   system     audio
/dev/msm_amrnb_in         0640   system     audio
/dev/msm_amrwb            0660   system     audio
/dev/msm_amrwbplus        0660   system     audio
/dev/msm_cad              0660   system     audio
/dev/msm_camera/*         0660   system     camera
/dev/msm_evrc             0660   system     audio
/dev/msm_evrc_in          0660   system     audio
/dev/msm_fm               0660   system     audio
/dev/msm_multi_aac        0660   system     audio
/dev/msm_mvs              0660   system     audio
/dev/msm_pcm_lp_dec       0660   system     audio
/dev/msm_preproc_ctl      0660   system     audio
/dev/msm_qcelp            0660   system     audio
/dev/msm_qcelp_in         0660   system     audio
/dev/msm_rtac             0660   system     audio
/dev/msm_vidc_dec         0660   system     audio
/dev/msm_vidc_dec_sec     0660   system     audio
/dev/msm_vidc_enc         0660   system     audio
/dev/msm_vidc_reg         0660   system     audio
/dev/msm_voicememo        0660   system     audio
/dev/msm_wma              0660   system     audio
/dev/msm_wmapro           0660   system     audio
/dev/ttyHSL1              0660   system     system
/dev/sdio_tty_ciq_00      0660   system     system
/dev/tty_sdio_00          0660   system     system
/dev/ttyGS0               0660   system     system
/dev/i2c-5                0660   media      media
/dev/voice_svc            0660   system     audio
/dev/video32              0660   system     camera
/dev/video33              0660   system     camera
/sys/devices/virtual/smdpkt/smdcntl* open_timeout 0664 radio  radio

# BT
/dev/hidraw*                                0666 system    system
/dev/rfkill                                 0660 bluetooth net_bt_stack
/dev/ttyHS0                                 0660 bluetooth net_bt_stack
/sys/devices/f995d000.uart/clock            0660 bluetooth net_bt_stack

# NFC
/dev/nfc-nci                                        0660 nfc nfc
/dev/pn544                                          0660 nfc nfc
/dev/pn547                                          0660 nfc nfc
/sys/devices/f9928000.i2c/i2c-6/6-0028  init_deinit 0200 nfc nfc
/sys/devices/f9928000.i2c/i2c-6/6-0028  set_pwr     0200 nfc nfc
/sys/devices/f9928000.i2c/i2c-6/6-0028  res_ready   0400 nfc nfc
/sys/devices/f9928000.i2c/i2c-6/6-0028  recv_rsp    0600 nfc nfc
/sys/devices/f9928000.i2c/i2c-6/6-0028  send_cmd    0200 nfc nfc

# LED
/sys/devices/01-qcom,leds-d000/leds/led:* max_brightness          0644 root system
/sys/devices/01-qcom,leds-d000/leds/led:* brightness              0664 system system
/sys/devices/01-qcom,leds-d000/leds/led:* lut_pwm                 0664 system system
/sys/devices/01-qcom,leds-d000/leds/led:* step_duration           0664 system system
/sys/devices/01-qcom,leds-d000/leds/rgb start_blink               0220 system system
/sys/devices/01-qcom,leds-d000/leds/rgb sync_state                0664 system system
/sys/devices/01-qcom,leds-d800/leds/wled:backlight max_brightness 0664 system system
/sys/devices/01-qcom,leds-d800/leds/wled:backlight brightness     0664 system system

# IR Remote
/dev/ttyHSL1                                   0660 system system
/sys/devices/1.ir-remote enable                0220 system system

# audio NXP speaker amp control device
/dev/tfa98xx              0660  system      audio

# S-Force
/dev/sforce               0660  system      audio

# Clearphase Headphone
/dev/clearphase_hp        0660  system      audio

/sys/devices/virtual/graphics/fb1/hpd                 0664 system graphics
/sys/devices/virtual/graphics/fb1/video_mode          0664 system graphics
/sys/devices/virtual/graphics/fb1/vendor_name         0664 system graphics
/sys/devices/virtual/graphics/fb1/product_description 0664 system graphics
/sys/devices/virtual/graphics/fb1/hdcp/tp             0664 system graphics
/sys/devices/virtual/graphics/fb2/ad                  0664 system graphics
/sys/devices/sony_camera_0/info                       0666 camera camera
/sys/devices/sony_camera_1/info                       0666 camera camera
